@import "gutenberg.css";
@import "fonts/fonts.css";

.html-switch {
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 20px;
}

.html-switch input {
	opacity: 0.001;
	position: absolute;
}

.html-switch input + label {
	text-decoration: line-through;
	font-weight: bold;
	cursor: pointer;
}

.html-switch input:checked + label {
	text-decoration: none;
}

.extensions, .extensions * {
	max-width: none;
}

.html-code pre {
	max-width: none;
	padding: 8px;
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.extensions .statistics {
	position: absolute;
	top: 40px;
	right: 8px;
	line-height: 1;
	font-size: 12px;
}


@media print
{
	.extensions .html-switch, .extensions .statistics {
		display: none !important;
	}
}
